.container_annouce{
    max-width: 800px;
    height: auto;
    background: #35424a;
    margin: 50px auto;
    box-sizing: border-box;
    padding: 40px;
    color:#fff;
}
.button_1 .btn_1{
    /* background: linear-gradient(to right, #35424a,#35424a); */
    font-size: 19px;
    /* padding: 12px 85px;
    text-decoration: none;
    color: #e8491d;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    justify-content: center; */
}
#hr{
    
    background-color: #e8491d;
}
.container_login .login_form button{
    display: block;
    width:50%;
    padding:10px;
    box-shadow:border-box;
    margin-bottom: 20px;
    border-radius: 25px;
    outline:none;
    background: #e8491d;
    color: #35424a
}
.btn_crt_ann{
height: 59px;
    width:250px;
    background: #e8491d;
    border:0;
    padding: 0;
    padding-left:20px;
    padding-right:20px;
    color:#fff;
    font-size:20px;
}
