.container_annouce{
    max-width: 800px;
    height: auto;
    background: #35424a;
    margin: 50px auto;
    box-sizing: border-box;
    padding: 40px;
    color:#fff;
}
.button_1 .btn_1{
    /* background: linear-gradient(to right, #35424a,#35424a); */
    font-size: 19px;
    /* padding: 12px 85px;
    text-decoration: none;
    color: #e8491d;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    justify-content: center; */
}
#hr{
    
    background-color: #e8491d;
}
.container_login .login_form button{
    display: block;
    width:50%;
    padding:10px;
    box-shadow:border-box;
    margin-bottom: 20px;
    border-radius: 25px;
    outline:none;
    background: #e8491d;
    color: #35424a
}
.btn_crtAnn{
 height: 59px;
    width:250px;
    background: #e8491d;
    border:0;
    padding: 0;
    padding-left:40px;
    padding-right:40px;
    color:#fff;
    font-size:20px; 
}
.delete{
    height: 59px;
    width:355px;
    background:red;
    border:0;
    padding: 0;
    padding-left:40px;
    padding-right:40px;
    color:white;
    font-size:20px;
    }
.btn_option{
    position: fixed;
}
.Edit{
    height: 59px;
    width:355px;
    background:green;
    border:0;
    padding: 0;
    padding-left:40px;
    padding-right:40px;
    color:#fff;
    font-size:20px;
    }
footer{
    padding:20px;
    margin-top:0px;
    color:#ffffff;
    background-color:#e8491d;
    text-align:center;
}
.opt{
    float: left;
    
}
.btn_CrtAnn{
    height: 59px;
    width:50px;
    background: #e8491d;
    border:0;
    padding: 0;
    padding-left:40px;
    padding-right:40px;
    color:#fff;
    font-size:20px; 
    margin-left: 136px;
}
.edit_2{
    height: 59px;
    width:50px;
    background: #e8491d;
    border:0;
    padding: 0;
    padding-left:40px;
    padding-right:40px;
    color:#fff;
    font-size:20px; 
    margin-left: 255px;
}
.view{
    height: 59px;
    width:355px;
    background:white;
    border:0;
    padding: 0;
    padding-left:40px;
    padding-right:40px;
    color:black;
    font-size:20px;
    }
    footer{
        padding:20px;
        margin-top:0px;
        color:#ffffff;
        background-color:#e8491d;
        text-align:center;
        /* width: 100%; */
        position: relative;
        left: 0px;
        bottom: 0px;
    }
    @media(max-width:768px){
        header #branding,
        header nav ,
        header nav li,
        #newsletter h1,
        #newletter form {
            float: none;
            text-align: center;
            width:100%;
            /* margin-bottom: 30px; */
        }
        header{
            padding-bottom:20px;
        }
        #showcase{
            margin-top: 40px;
        }
        /* #newsletter .button_1{
            display: block;
            width:181px;
        }
        #newletter form input[type="email"]{
            width:238px;
        } */
        .container_login{
            margin-top: 100px;
            width: 100%;
        }
        .btn_crtAnn{
            width: 100%;
        }
        .submit {
            box-sizing: border-box;
            width: 100%;
            display: flex;
        }
    }