.container_annouce{
    max-width: 800px;
    height: auto;
    background: #35424a;
    margin: 50px auto;
    box-sizing: border-box;
    padding: 40px;
}
p{
    text-align: center;
    letter-spacing: 1px;
    font-size: 45px;
    margin-bottom: 20px;
    background: linear-gradient(to right,#e8491d,#e8491d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.input,
.msg .area{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 25px;
    border: 2px solid #e8491d;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    transition:all 0.5s;
}
.login .input{
    width:48%;
    float: left;
    margin-right:4%;
}
.login .input:last-child{
    margin-right: 0;
}
.msg .area{
    height: 200px;
}
.input:focus,
.msg .area:focus{
    border: 2px solid #e8491d;
}
.submit{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    display: flex;
    box-sizing: border-box;
}
.submit .btn:hover{
    background: linear-gradient(to right, #e8491d,#e8491d);
    font-size: 19px;
    padding: 12px 85px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
}
.submit .btn{
    background: linear-gradient(to right, #35424a,#35424a);
    font-size: 19px;
    padding: 12px 85px;
    text-decoration: none;
    color: #e8491d;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
}
#newsletter{
    padding: 15px;
    color: #ffffff;
    background: #35424a;
}
.container{
    width: 80%;
    margin:auto;
    overflow: hidden;
}
.btn_crt_ann{
    height: 59px;
    width:250px;
    background: #e8491d;
    border:0;
    padding: 0;
    padding-left:20px;
    padding-right:20px;
    color:#fff;
    font-size:20px;
}
@media(max-width:768px){
    header #branding,
    header nav ,
    header nav li,
    #newsletter h1,
    #newletter form {
        float: none;
        text-align: center;
        width:100%;
        /* margin-bottom: 30px; */
    }
    header{
        padding-bottom:20px;
    }
    #showcase{
        margin-top: 40px;
    }
    /* #newsletter .button_1{
        display: block;
        width:181px;
    }
    #newletter form input[type="email"]{
        width:238px;
    } */
    .container_login{
        margin-top: 100px;
        width: 100%;
    }
    .btn_crt_ann{
        width: 100%;
    }
    .submit {
        border: ;
        width: 100%;
        display: flex;
    }
}